///Main website colors
$primary:#FFA451;
$primary-light: #FFF2E7;
$secondary: #F3F1F1ff;
///Trending cards color
$light-red: #FEF0F0;
$light-purple: #F1EFF6;
$light-yellow: #FFFAEB; ///font colors
$font-color: #27214D;
$font-color-light: #938DB5;
@mixin flex($property, $parameter) {
    display: flex;
    #{$property}: $parameter;
}

@font-face {
    font-family: 'Noto-sans';
    src: url('../assets/fonts/Noto/NotoSansKR-Light.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Noto-sans';
    src: url('../assets/fonts/Noto/NotoSansKR-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Noto-sans';
    src: url('../assets/fonts/Noto/NotoSansKR-Bold.otf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    color: $font-color;
    // width: 100vw;
    // height: 100vh;
}

.splash {
    height: 90vh;
    @include flex(align-items,
    center);
    justify-content: center;
    .logo {
        transition: all 1s;
    }
    &__hidden {
        opacity: 0;
        transform: scale(110%);
    }
}

.content {
    width: 100%;
    height: 100%;
    @include flex(flex-direction,
    column);
    &__header {
        @include flex(justify-content,
        space-around);
        flex-direction: column;
        background-color: $primary;
        padding: 5rem 0 2rem;
        .images {
            &__smallFruit {
                align-self: flex-end;
                margin-right: 3rem;
                transform: translateY(1rem);
            }
            &__fruitBasket {
                padding: 0 3.5rem;
            }
            &__basketShadow {
                margin-top: 1rem;
                padding: 0 3.5rem;
            }
        }
    }
    &__body {
        @include flex(justify-content,
        space-around);
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        font-family: 'Noto-sans';
    }
    &__title {
        font-weight: bold;
        padding-top: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    &__description {
        font-family: 'Noto-sans';
        font-weight: lighter;
        width: 100%;
        @include flex(justify-content,
        center);
        padding: 2rem 0 3rem;
        position: relative;
        //input do login
        input {
            background-color: $secondary;
            border: none;
            border-radius: 0.5rem;
            width: 95%;
            padding: 1rem 0.5rem;
        }
    }
    &__button {
        text-align: center;
        @include flex(flex-direction,
        column);
        align-self: center;
        width: 100%;
        button,
        a {
            padding: 1rem;
            text-decoration: none;
            background-color: $primary;
            border: none;
            border-radius: 0.5rem;
            color: aliceblue;
        }
    }
}

.header {
    @include flex(justify-content,
    space-between);
    padding: 1.5rem 1.5rem 0rem;
    &__burger {
        @include flex(align-items,
        center);
    }
    &__basket {
        @include flex(flex-direction,
        column);
        align-items: center;
        justify-content: center;
    }
    &__basketText {
        margin-top: 3px;
        font-family: 'Noto-sans';
        font-size: 0.8rem;
    }
}

.main {
    padding: 1rem 1.5rem;
    &__title {
        font-family: 'Noto-sans';
        font-weight: lighter;
        font-size: 1.25rem;
        width: 80%;
        strong {
            font-family: 'Noto-sans';
        }
    }
    .search {
        margin: 2rem 0;
        position: relative;
        &__container {
            @include flex(align-items,
            center);
            justify-content: start;
        }
        &__icon {
            position: absolute;
            transform: translateX(1rem);
            z-index: 1;
        }
        &__input {
            padding: 1rem 2rem 1rem 3rem;
            width: 86%;
            border-radius: 0.5rem;
            background-color: $secondary;
            border: none;
        }
        &__filter {
            width: 1.75rem;
            margin-left: 1rem;
        }
    }
}

.recommended {
    &__title {
        font-family: 'Noto-sans';
        font-weight: bold;
        font-size: 1.5rem;
    }
    &__combos {
        margin-top: 2rem;
        @include flex(justify-content,
        space-between);
    }
    &__item {
        position: relative;
        width: 48%;
        @include flex(justify-content,
        center);
        flex-direction: column;
        box-shadow: 0 0 5px 2px $secondary;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0.8rem;
    }
    &__favoriteIcon {
        position: absolute;
        right: 0.7rem;
        top: 0.7rem;
        width: 1.5rem;
    }
    &__image {
        width: 60%;
        align-self: center;
    }
    &__itemTitle {
        padding: 0.8rem 0;
        font-family: 'Noto-sans';
        font-weight: bold;
        font-size: 1rem;
    }
    &__description {
        @include flex(justify-content,
        space-between);
    }
    &__priceCointainer {
        @include flex(align-items,
        center);
    }
    &__value {
        margin-left: 0.2rem;
        color: $primary;
        font-family: 'Noto-sans';
    }
    &__addToCart {
        border-radius: 100%;
        color: $primary;
        background-color: $primary-light;
        font-size: 1.1rem;
        border: none;
    }
}

.trending {
    margin-top: 2rem;
    .nav {
        &__list {
            @include flex(justify-content,
            space-around);
            color: $font-color-light;
            font-family: 'Noto-sans';
            align-items: end;
            .active {
                font-family: 'Noto-sans';
                font-weight: bold;
                font-size: 1.5rem;
                color: $font-color;
            }
            ///POG abaixo
            .active::before {
                margin-top: 1px;
                content: "     ";
                position: absolute;
                border-bottom: solid 3px #FFA451;
            }
        }
    }
    &__combos {
        margin-top: 2rem;
        display: flex;
        overflow: scroll;
        height: auto;
    }
    &__item {
        position: relative;
        @include flex(justify-content,
        center);
        flex-direction: column;
        box-shadow: 0 0 5px 2px $secondary;
        border-radius: 0.5rem;
        padding: 0.8rem 1rem;
        margin-right: 1rem;
        min-width: 140px;
        min-height: 150px;
    }
    ///Trending cards color
    .red {
        background-color: $light-red;
    }
    .purple {
        background-color: $light-purple;
    }
    .yellow {
        background-color: $light-yellow;
    }
    &__favoriteIcon {
        position: absolute;
        z-index: 1;
        right: 0.7rem;
        top: 0.7rem;
        width: 1.5rem;
    }
    &__imgContainer {
        padding-top: 0.5rem;
        flex-grow: 1;
        @include flex(justify-content,
        center);
    }
    &__image {
        width: 60%;
        align-self: center;
    }
    &__itemTitle {
        padding: 0.8rem 0;
        font-family: 'Noto-sans';
        font-weight: lighter;
        font-size: 0.8rem;
    }
    &__description {
        @include flex(justify-content,
        space-between);
    }
    &__priceCointainer {
        @include flex(align-items,
        center);
    }
    &__value {
        margin-left: 0.2rem;
        color: $primary;
        font-family: 'Noto-sans';
    }
    &__addToCart {
        border-radius: 100%;
        color: $primary;
        background-color: $primary-light;
        font-size: 1.1rem;
        border: none;
    }
}

.addToCart {}